<div id="banner_carousel" class="row">
    <div class="col-xs-12">
        <img class="img-responsive" src="view/img/servicios/servicio2.png">
    </div>
</div>

<div class="row">
    <!-- Carousel -->
    <div class="col-xs-12">
        <img class="img-responsive" src="view/img/servicios/bar.png">
    </div>
</div>

<div class="row">
    <!-- Carousel -->
    <div class="col-xs-12">
        <img class="img-responsive" src="view/img/servicios/billar.png">
    </div>
</div>

<div class="row">
    <!-- Carousel -->
    <div class="col-xs-12">
        <img class="img-responsive" src="view/img/servicios/deportes.png">
    </div>
</div>

<div class="row">
    <!-- Carousel -->
    <div class="col-xs-12">
        <img class="img-responsive" src="view/img/servicios/karaoke.png">
    </div>
</div>